*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
  
}

body{
  /* cursor: url('../images/cursor.png'), pointer; */
  cursor: none;
  overflow: hidden;

}

h1{
  font-family: BrianJames;
  font-size: 4.2em;
  overflow: hidden;
}

h2{
  font-family: Gothic-Black;
  color: white;
  font-size: 2.0em;
}

h3{
  font-family: Gothic-Medium;
  color: rgba(237,237,237,1);
  font-weight: medium;
  font-size: 1.2em;
}

h5{
  font-family: Alegraya-Light;
  color: rgba(237,237,237,0.5);
  font-size: 0.8em;
}

h4{
  font-family: Gothic;
  color: rgba(237,237,237,1);
  font-weight: lighter;
  font-size: 1em;
}

p{
  font-family: Alegraya;
  color: rgba(237,237,237,0.8);
}

a{
  text-decoration: none;


}


.cursor{
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  /* animation: cursorAnim 2s infinite alternate; */
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;

 }

 .home-page,
 .contact-page{

   /* display: flex;
   justify-content: center;
   align-items: center;

   flex-direction: column;
   position: absolute; */


 }

/* .cursor::after{
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -11px;
  left: -11px;
  animation: cursorAnim 2s infinite alternate;
  z-index: 999;
  overflow: hidden;
} */

.expand{
  animation: cursorAnim2 .5s forwards;
  border: 1px solid rgb(230, 10, 10);

}



@keyframes cursorAnim {
  0%{
    transform: scale(1);
  }


  100%{
    transform: scale(2);
  }
}

@keyframes cursorAnim2 {
  0%{
    transform: scale(1);
  }
  	50%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

.stroke{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.button_container{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;

  padding: 3% 3%;
  overflow: hidden;
}

.button_container:hover{
  -webkit-text-fill-color: white;
  -webkit-transition-delay: 0s;

}

.background{

  background-image: url(../images/background_shadow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.main_container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 0.6fr 1fr 1fr 1fr;
  grid-template-areas:
   "header header header header"
   "sidebarLeft main main sidebarRight"
   "sidebarLeft main main sidebarRight"
   "footer footer footer footer";

}

.header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.head{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.left-section{
  grid-area: sidebarLeft;
  display: flex;
  align-items: center;
}



.left{
  transform: rotate(90deg);
  margin-left: -20%;

}

.left h2{
  width: 120%;
}

.right{
  transform: rotate(-90deg);
  margin-right: -20%;
}

.right-section{
  grid-area: sidebarRight;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.main{
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bottom_section{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;

}

.foot{
  margin-bottom: -1%;
  width: 110%
}

.footer{
  display: flex;
  width: 70%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 15vh auto 6vh auto;
}



.footer-icon{
  width: 40px;
  fill: red;
  color:red;
  margin-top: 3vh;
  padding:4px;
}
.footer-icons{
  margin: 0 2vw 0 1vw;
  color: rgb(237,237,237);
  animation-delay: 400ms;
  transition-duration: 400ms;
  width: 10px;
}

.footer-icons:hover{

  color: rgba(3, 110, 167, 1);
  transform: scale(1.05);
}
.icon-footer-container{
  display: flex;
  margin-top: 2vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-icon:hover{
  box-shadow: 0px 0px 30px rgba(3, 110, 167, 0.8);
  border-radius: 50%;

}

.title_left{
  margin-right: -70%;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;


}

.title_right{
  margin-left: -80%;

  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
}


.title-name{
  align-self: center;
  align-items: center;
  text-align: center;
  line-height: 4em;
  color:rgb(230, 10, 10);
  transform: rotate(-90deg);


  grid-area: textRed;
  height: 100%;
  width: 100%;
}

.image_container{
  grid-area: img;
  min-width: 60%;
  flex-direction: row;
}

.line{
  height: 5px;
  width: 100%;
  margin: 2% 0;

  position: relative;
  animation: gradientChange 10s ease-in-out infinite;
}

.up{
  background: rgb(230,10,10);
  background: linear-gradient(90deg, rgba(230,10,10,1) 0%, rgba(3,110,167,1) 100%);
}

.down{
  background: rgb(3,110,167);
  background: linear-gradient(90deg, rgba(3,110,167,1) 0%, rgba(230,10,10,1) 100%);
}

.title-title{
  color: rgba(3, 110, 167, 1);
  line-height: 4em;
  font-size: 0.75em;
  transform: rotate(90deg);

  grid-area: textBlue;


}

.place_container{
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-areas:
   "textRed img textBlue";
}

.blue{
  color: rgb(3, 110, 167);
}

.blue_shadow{
  box-shadow: 0px 0px 30px rgba(3 , 110, 167, 0.4);
}
.red_shadow{
  box-shadow: 0px 0px 30px rgba(230 , 10, 10, 0.2);
}

.red{
  color: rgb(230, 10, 10);
}



#logo{
  width: 40px;
  padding-top: 5vh;
}



#art{
  width: 100%;
  height: 100%;
}



.slide-in{
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in{
  0%{
    transform: translateX(100%);
    visibility: visible;

  }
  25%{
    opacity: 0.6;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    transform: translateX(0%);
    visibility: hidden;
  }
}
