
/* body{
  overflow-y: scroll;
  height: 100%;
} */

html, body {
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

iframe{
  cursor: url("../images/cross.png"), pointer;
}

.ytp-cued-thumbnail-overlay-image{
  cursor: url("../images/cross.png"), pointer;
}

.background-repeat{

  background:
  url(../../../images/background_shadow.svg) 0 100%,
  url(../../../images/background_shadow.svg) 20px 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

.sidebarStick{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;

}

.sticky_container{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 50%;
}

.project-container{
  width: 70%;

  margin: 5vh auto;
  height: 700px;

  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;


  /* flex-wrap: wrap; */
}

.intro-container{
  width: 70%;
  margin: 0 auto;
}

.img{
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 30px rgba(237, 237, 237, 0.2);
  transition-duration: 400ms;

}

.intro-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-image img{
  width: 400px;
  height: 400px;
}

.text-container{
  margin-top: 5vh;
}


.text-container h3,h4, p{
  margin-top: 1vh;
}


.process-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.process-grid{
  height: 100%;
  margin-top: 20vh;
  margin-bottom: 5vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

}

.research, .design {
  grid-template-areas:
  "img img img title"
  "text text text .";
}

.showcase{
  grid-template-areas:
  "title img img img"
  ". text text text";
}

#workshop-carousel{
  grid-area: frame;
}

#workshop-img{
  margin-top: 8vh;
}

.workshop{
  grid-template-areas:
  "frame frame frame title"
  "text img img img";
}

.challenge-container{
  width: 700px;
}

.dark-mode{
  color: rgba(230,10,10,0.8) !important;
}



.design{
  margin-top: 30vh;
}

iframe{
  width: 100%;
}

.tinkering{

    grid-template-areas:
    "title img img img"
    ". text text text";


}

.tinkering-text{
  font-size: 1.3em;
  color: rgb(3, 110, 167);
  margin-top: 5vh;
  font-family: Alegraya-Medium;
}

.img-mobile{
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 0px 0px 30px rgba(237, 237, 237, 0.2); */
  transition-duration: 400ms;
}

.inspiration-img, .inspiration-text{



}

.title{
  grid-area: title;
  padding: 5vh;
}

.carousel-container{
  /* background-color: green; */
  grid-area: img;
  width: 100%;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  /* border: 1px solid red; */
  border-radius: 5px;

  position: relative;
  cursor: url("../images/cross.png"), pointer;

}

.carousel-slide{
  display: flex;
  width: 100%;
  height: 400px;
  /* box-shadow: 0px 0px 30px rgba(237, 237, 237, 0.2); */
  transition-duration: 400ms;

}

.slide2{
  box-shadow: 0px 0px 30px rgba(10, 10, 10, 0.2);
}

.slide4:hover{
  cursor: url("../images/cross.png"), pointer;
}


.research-text{
  /* background-color: blue; */
  width: 90%;
  margin: 0 auto;
  grid-area: text;
}

.prevBtn{
  position: absolute;
  top:50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.8;
}

.nextBtn{
  position: absolute;
  top:50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.8;
}

.project_button_container{
  width: 100%;
  height: 20vh;

  align-items: center;
  margin-top: 5%;
}

.project_button{
  width: 35%;
  height: 8vh;
  align-items: center;
  text-align: center;


  border: 2px solid rgba(3, 110, 167, 0.8);
  border-radius: 5px;
  margin: 5vh auto;
  position: relative;
  transition-duration: 400ms;
  /* background-color: green; */
}

.project_button:hover{
  border: 0px;
  background-color: rgba(3, 110, 167, 0.8);
  transform: scale(1.05);
}

.project_button:hover .button_text{
  color: rgba(15, 15, 15, 0.8);
}

.button_text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Gothic-light;
  transform: translate(-50%, -50%);
  color: rgba(3, 110, 167, 0.8);

}
